<img src="https://bit.ly/2VnXWr2" width="100" align="left">

# Project | Statistical Analysis on Personality testing

## Introduction

Hacer una intro breve

### Objectives

objetivos

### Imports

In [1]:
import plotly.graph_objs as go
from ipywidgets import interact
import cufflinks as cf
import plotly.offline as py
import numpy as np
import pandas as pd
import re
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp
import scipy.stats as stats
%matplotlib inline
cf.go_offline()

from pandas._testing import assert_frame_equal
from pandas_profiling import ProfileReport
#pd.set_option('display.max_rows', None)
#pd.set_option('display.max_columns', None)

## 1. EDA

### Cultural dimensions

In [2]:
cultural_dimensinality = pd.read_csv('data/culturaldimensions/6_dimensions_for_website.csv')
cultural_dimensinality.head()

   ctr      country   pdi   idv   mas   uai     ltowvs        ivr
0  AFE  Africa East  64.0  27.0  41.0  52.0  32.000000  40.000000
1  AFW  Africa West  77.0  20.0  46.0  54.0   9.000000  78.000000
2  ALB      Albania   NaN   NaN   NaN   NaN  61.460957  14.508929
3  ALG      Algeria   NaN   NaN   NaN   NaN  25.944584  32.366071
4  AND      Andorra   NaN   NaN   NaN   NaN        NaN  65.000000

In [3]:
cultural_dimensinality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ctr      111 non-null    object
 1   country  111 non-null    object
 2   pdi      78 non-null     float64
 3   idv      78 non-null     float64
 4   mas      78 non-null     float64
 5   uai      78 non-null     float64
 6   ltowvs   96 non-null     float64
 7   ivr      97 non-null     float64
dtypes: float64(6), object(2)
memory usage: 7.1+ KB

### Happiness report

In [4]:
tbig5 = pd.read_csv('data/happiness/2015.csv')
tbig5.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [5]:
tbig5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

In [6]:
tbig5.describe()

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,79.493671,5.375734,0.047885,0.846137,0.991046,0.630259,0.428615,0.143422,0.237296,2.098977
std,45.754363,1.145010,0.017146,0.403121,0.272369,0.247078,0.150693,0.120034,0.126685,0.553550
min,1.000000,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,40.250000,4.526000,0.037268,0.545808,0.856823,0.439185,0.328330,0.061675,0.150553,1.759410
50%,79.500000,5.232500,0.043940,0.910245,1.029510,0.696705,0.435515,0.107220,0.216130,2.095415
75%,118.750000,6.243750,0.052300,1.158448,1.214405,0.811013,0.549092,0.180255,0.309883,2.462415
max,158.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140

## 2. Relationships between variables in each dataset

## 3. Features should be investigated in depth.

## 4. Data cleaning & manipulation. Apply the following techniques as appropriate:

### 1. Adjust skewed data distribution.

### 2. Remove columns with high proportion of missing values.

### 3. Remove records with missing values.

### 4. Feature reduction.

### 5. Convert categorical data to numerical.

## 5. Compute field relationship scores with the chosen statistical model.

## 6. Present your findings in statistical summary and/or data visualizations.